.flex {
  display: flex;
  &-jc-center {
    justify-content: center;
  }
  &-jc-end {
    justify-content: flex-end;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-sa {
    justify-content: space-around;
  }
  &-ai-center {
    justify-content: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}
